/*
CSS 
web o pagina: Proyecto Integrador
autor: Eduardo Jimenez
fecha: Marzo 2021
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/
*{
		  box-sizing: border-box;
		  padding: 0;
		  margin: 0;

		}
		
		.marco {
		  display: grid;
		  border-style: solid;
		   border-color: blue;
		  grid-template-columns: 250px auto;
		  grid-template-rows: 150px 40px auto 40px;
		  grid-gap: 10px;
		  width: 100vw;
		  height: 100vh;
		}
		
		.encabezado {
			overflow:auto;
		  border-style: solid;
		  border-color: blue;
		  grid-column: 1 / span 2;
		  grid-row: 1 / span 1;
		 background-color:rgba(0,0,255,0.1)
		}
		
		.nvar{
			position:static;
			margin-left:35%;
			 overflow: hidden;
		  background-color: #333; 
			width:32%;
		}
		.nvar a {
		  float: left;
		  font-size: 16px;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		#nVeces{
			position:static;
			margin-top:-3%;
			float:right;
			
			
		}
		
		.migas {
		  border-style: solid;
		  border-color: blue;
		  grid-column: 1 / span 2;
		  grid-row: 2 / span 1;
		   background-color:rgba(0,0,255,0.1)
		}
		
		.lado {
		  border-style: solid;
		  border-color: violet;
		
		  grid-column: 1 / span 1;
		  grid-row: 3 / span 1;
		   background-color:rgba(0,0,255,0.1)
		}
		
		.contenido {
			
    height: 110%;

			overflow:auto;
		  border-style: solid;
		  border-color: violet;
		  grid-column: 2 / span 1;
		  grid-row: 3 / span 1;
		   background-color:rgba(0,0,255,0.1)
		}
		
		.infomia{
			 margin-left: 1%;
				clear:both;
			margin-top:1%;
			height:auto;
			float:left;
			width:15%;
			position:static;
			margin-right:1%;
			word-wrap: break-word;
			
		}
		#fotomia{
			
			float:left;
			position:static;
			width:100%;
			height:auto;
		}
		
		#tituloPelicula{
			font-family: "Lucida Console", "Courier New", monospace;
			color:rgba(255, 99, 71, 1);
		}
		.porquedam{
			
			
			 margin-left: 4%;
					margin-top:1%;
			width:35%;
			height:auto;
			float:left;
			
			
			position:static;
			
			word-wrap: break-word;
		}
		.infocentro{
				margin-left: 4%;
					margin-top:1%;
			width:35%;
			height:auto;
			float:left;
			
			
			position:static;
			
			word-wrap: break-word;
			
		}
		
		#personaje{}
		
		#fotoPersonaje{
			
			position:static;
			width:35%;
			height:auto;
			margin-left:1%;
		}
		
		.nvar2{
			position:static;
			
			 overflow: hidden;
		  background-color: #339; 
			width:40%;
			
		}
	
	
		.nvar2 a {
		  float: left;
		  font-size: 16px;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		
		/*Migas de pan*/
		
		ul.ruta li {
  display: inline;
  font-size: 18px;
}

ul.ruta li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
		
		
		
		
		.lado{
			height: 110%;
		}
		
		
		
		
		
		.pie{  width: 100vw;
		  border-style: solid;
		  border-color: aqua;
		  grid-column: 1 / span 2;
		  grid-row: 4 / span 1;
		}
		#copy{
			
			text-align:center}


/*

pseudoclases, asignarles estilos en este orden llamado LVHA:
   :link — :visited — :hover — :active.
   
Más selectores y documentación:
pseudo-clases: https://www.w3schools.com/css/css_pseudo_classes.asp
pseudo-elementos: https://www.w3schools.com/css/css_pseudo_elements.asp
pseudo-atributos: https://www.w3schools.com/css/css_attribute_selectors.asp
formularios: https://www.w3schools.com/css/css_form.asp
posicionamiento: https://www.w3schools.com/css/css_positioning.asp
selectores: https://www.w3schools.com/cssref/css_selectors.asp
*/





